@import "tailwindcss";

@theme {
    --color-navy-50: #f0f4f8;
    --color-navy-400: #627d98;
    --color-navy-500: #486581;
    --color-navy-600: #334e68;
    --color-navy-700: #243b53;
    --color-navy-900: #102a43;

    --color-gold-400: #facc15;
    --color-gold-500: #eab308;
}